@mixin scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:hover {
    display: none;
    background-color: transparent;
  }
}

@mixin make-ellipsis {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

$black1: #121212;
$black2: #1d1d1d;
$white: #ffffff;
$grey1: #b3b3b3;
$grey2: #bbbbba;
$grey3: #474747;
$grey4: #bababa;

#app {
  & .trackList {
    background-color: $black2;
    max-height: 448px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-block: 16px;
    @include scroll-hidden();
    & .track {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      color: $grey1;
      & .track-info {
        height: 48px;
        display: flex;
        width: 138px;
        align-items: center;
        margin-inline-start: 16px;
        margin-block: 8px;
        & .track-thumb {
          width: 48px;
          height: 48px;
          border-radius: 8px;
        }
        & .names {
          display: flex;
          flex-direction: column;
          height: 34px;
          padding-inline-start: 12px;
          & .track-name {
            color: $white;
            width: 250px;
            height: 18px;
            font-weight: 800;
            font-size: 14px;
            @include make-ellipsis();
          }
          & .track-singer {
            width: max-content;
            height: 14px;
            font-weight: 800;
            font-size: 11px;
          }
        }
      }
      & .track-time {
        margin-inline-end: 16px;
        color: $grey4;
        font-weight: 800;
        font-size: 11px;

        width: max-content;
        height: 14px;
      }
    }
    & .selected {
      background-color: $grey3;
    }
  }
}
